$slideHeight: 75px;
.container.module {
  background: #ddd;
}
.clients-slider {
  // the viewbox
  height: $slideHeight;
  background: #fff;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  position:relative;
  .slider-container {
    height: $slideHeight;
    position:absolute;
    &>* { // its children
      display:inline-block;
      padding: 0 10px;
    }
  }
}